<h2>Каталог</h2>

{% for item in catalog %}
    <h3><a href="/product/card?id={{ item.id }}">{{ item.name }}</a></h3>
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
    <button data-id="{{ item.id }}" class="bn-buy">Купить</button>
    <hr>
{% endfor %}

<a href="/product/catalog?page={{ page }}">Далее</a>

<script>
    "use strict";

    let buttons = document.querySelectorAll('.bn-buy');
    buttons.forEach((bn) => {
        bn.addEventListener('click', () => {
            let id = bn.getAttribute('data-id');
            (
                async () => {
                    const response = await fetch('/basket/add', {
                        method: "post",
                        headers: {
                            "Content-Type" : 'application/json',
                        },
                        body: JSON.stringify({id: id})
                    });
                    const answer = await response.json();

                    // console.log(answer);
                    let basketCount = document.querySelector('#count_basket');
                    // console.dir(basketCount);
                    basketCount.innerText = answer.countBasket;
                }
            )();

        });
    });
</script>